In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn import datasets, neighbors
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [13]:
iris = datasets.load_iris()

In [15]:
# Create a pandas DataFrame from the iris dataset
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['target'] = iris.target
df['species'] = df['target'].map({0: 'setosa', 1: 'versicolor', 2: 'virginica'})

In [16]:
df

     sepal length (cm)  sepal width (cm)  ...  target    species
0                  5.1               3.5  ...       0     setosa
1                  4.9               3.0  ...       0     setosa
2                  4.7               3.2  ...       0     setosa
3                  4.6               3.1  ...       0     setosa
4                  5.0               3.6  ...       0     setosa
..                 ...               ...  ...     ...        ...
145                6.7               3.0  ...       2  virginica
146                6.3               2.5  ...       2  virginica
147                6.5               3.0  ...       2  virginica
148                6.2               3.4  ...       2  virginica
149                5.9               3.0  ...       2  virginica

[150 rows x 6 columns]

In [ ]:
plt.figure(figsize=(10, 7))
sns.histplot(x='Age',hue="Outcome", data=data)